%h1 Listing orders

%table
  %tr
    %th Orderid
    %th Order Placed

  - @orders.each do |order|
    %tr
      %td= order.id
      %td= order.order_placed
      %td= link_to 'Show', order
      %td= link_to 'Destroy', order, :method => :delete
%br

=link_to "New Order", new_order_path
