// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{margin:0;}
.add-product{width:85px; background:#999; padding:10px; cursor:pointer;}